<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A8 page_B</title>
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/dropdown.css">


</head>
<body>



<ol class="drop">
  <li><a2>My Focus</a2></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">More</a>
    <div class="dropdown-content">
      <a href="/">My Focus</a>
      <a href="/friends">Friends</a>
      <a href="/fake">Login</a>
    </div>
  </li>
</ol>


<section class="app-insert">
  <input type="text" name="task" placeholder="Press 'Enter' to Insert your task here...">
</section>
<section class="app-list">
  <ul></ul>
</section>
  <script src="/js/script.js"></script>
</body>
</html>
