#myProgress {
  width: 80%;
  background-color: #ddd;
  margin-left: 30px;

}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-left: 110px
}

/* On mouse-over */
.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

